.cadastro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadastro-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  font-size: 16px;
}

.cadastro-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #7fd3b6;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cadastro-button:hover {
  background-color: #5ea99d; 
}

.erro {
  color: red;
  margin-bottom: 10px;
}
